*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(7, 0, 75);
}

.gridContainer {
  position: relative; /* Make this the reference point */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 20px;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  border-radius: 20px;
}

.gridI{
  border-radius: 5px;
}